



/* Big screen to 1200px (widths smaller taht the 1140px row) */
/*
@media only screen and (max-width: 1920px){
    .row {
        max-width: 1920px;
        margin: 0 auto;
    }
}
*/
@media only screen and (max-width: 1400px){
    
    h1 {
        font-size: 180%;
    }
    
    h2 {
        font-size: 140%;
    }
    
    h3 {
        font-size: 100%;
    }
    
    .objasnjenja {
        font-size: 90%;
    }
    .main-nav {
        height: 100px;
    }
    
    .main-nav li a:link, 
    .main-nav li a:visited {
        font-size: 100%;
    }
    
    .logo {
        height: 200px;
    }
    
    .sticky .main-nav {
        height: 50px;
    }
    
    .sticky .logo-sticky {
        height: 50px;
    }
    
    .karakteristike {
        display: grid;
        grid-template-rows: 45% 65%;
        margin-top: 5vh;
        margin-bottom: 150px;
    }
    
    .icon-big {
        font-size: 350%;
    }
    
    .topic {
        font-size: 120%;
    }
    
    .topic:after {
        margin-top: 10px;
    }
    
    input[type=submit] {
        font-size: 16px; 
    }
    
    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 70%;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ccc;
        font-size: 16px;
        font-family: inherit;
        font-weight: 500;
    }
    
    .inputs {
        font-size: 18px;
    }
    
    footer {
        font-size: 65%;
    }
    
    .copyright p {
        font-size: 70%;
    }
}
/* Big tablet to 1200px (widths smaller taht the 1140px row) */

@media only screen and (max-width: 1200px){
    
    
    
    .img-prednost {
        width: 60%;
        padding-top: 50px;
    }
    .h2-small {
        font-size: 160%;
    }
    
}


/* Small tablet to big tablet from 768 to 1023 */

@media only screen and (max-width: 1023px){
    body{
        font-size: 18px;
    } 
    
    .sta-su-prednost{
        margin-bottom: 60px;
    }
    
    .sta-su-prednost div {
        width: 40px;
        height: 40px;
        font-size: 110%;
    }
    
    .prednost-box:first-child {
        margin-top: 15px;
    }
}

/* Small phones to small tablets: From 481 to 767 */

@media only screen and (max-width: 767px){
    body {
        font-size: 16px;
    }
    
    section {
        padding: 30px 0;
    }
    
    .row, 
    .simpli-slogan {
        padding: 0 4%;
    }
    
    .simpli-slogan {
        position: absolute;
        width: 50%;
        top: 25%;
        left: 0;
        z-index: 1;
    }
    
    .logo {
        height: 150px;
    }
    
   .main-nav {
        display: none;
    }
    
    .mobil-nav-icon {
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 50px;
        margin-top: 50px;
    }
    
    .mobil-nav-icon-close {
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 0px;
        margin-top: 50px;
        z-index: 1;
    }
    
    .mobil-nav-icon-close .close{
        margin-top: 30px;
        margin-right: 15px;
    }
    
    .main-nav ul{
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        position: relative;
        margin-top: 20px;
        margin-right: 75px;
        z-index: 100;
    }
    
    .main-nav ul li:last-child {
        margin-right: 0;
    }
    
    .main-nav li a:link, 
    .main-nav li a:visited {
        border-bottom: none;
    }
    
    .main-nav li a:hover, 
    .main-nav li a:active {
        border-bottom: none;
    }
    
    .sticky {
        background-color: rgba(51, 51, 51, 0.9);
    }
    
    .sticky .mobil-nav-icon{
        display: inline-block;
        position: relative;
        margin-right: 50px;
        margin-top: 9px;
    }
    
    .sticky .main-nav {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
    }
    
    .sticky .main-nav li a:link, 
    .sticky .main-nav li a:visited{
        padding: 10px 0;
    }
    .sticky .main-nav li a:active, 
    .sticky .main-nav li a:hover{
        color: #fff;
    }

    .sticky .logo {
        display: none;
    }
    
    .sticky .logo-sticky {
        display: block;
        height: 60px;
        width: auto;
        float: left;
        margin-top: 0px;
    }
    
    
    .sticky .icon-menu {
        color: #fff;
    }
    
    .simpli-slogan {
        position: absolute;
        width: 50%;
        top: 50%;
        left: 0;
        z-index: 1;
    }
    
    h1 {
        font-size: 140%;
    }
    
    h2 {
        margin-bottom: 15px;
        font-size: 100%;
    }
    
    h2:after {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    
    .h3-small {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .objasnjenja {
        margin-bottom: 10px;
    }
    
    .karakteristike {
        grid-template-rows: 25% 75%;
    }
    .row-karakteristike {
        margin-top: 10px;    
    }
    
    .row-objasnjenja {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    
    
    
    figcaption{
        font-size: 70%;
    }
    
    
    .usluge {
        display: grid;
        grid-template-rows: (6, 1fr);
    }
    
    .pravo {
        grid-row: 1/2;
    }
    
    .racunovodstvo {
        grid-row: 2/3;
    }
    
    .programiranje {
        grid-row: 3/4;
    }
    
    .nekretnine {
        grid-row: 4/5;
    }
    
    .marketing {
        grid-row: 5/6;
    }
    
    .mystery {
        grid-row: 6/7;
    }
    
    .pravo-racunovodstvo {
        display: inherit;
        grid-template-columns: none;
        color: #fff;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .programiranje-nekretnine-marketing {
        display: inherit;
        grid-template-columns: none;
        grid-gap: 15px;
        color: #fff;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .prednosti {
        margin-top: 50px;
        display: inherit;
        grid-template-columns: none;
        grid-template-rows: (2, 1fr);
        width: 100%;
    }
    
    .prednost-box:first-child {
        grid-row: 1/2;
        margin-top: 15px;
        width: 80%;
    }

    .prednost-box:last-child {
        display: inherit;
        grid-row: 2/3;
        position: relative;
        width: 50%;
        margin-left: auto;
        margin-right: auto; 
    }

    .img-prednost {
        width: 60%;
    }
    
    .sta-su-prednost {
        display: flex;
        
        margin-bottom: 40px;
        justify-content: flex-start;
        align-items: center; 
    }
    
    
    .topic {
        font-size: 100%;
    }
    
    .topic:after {
        margin-top: 5px;
    }
    
    .inputs {
        height: 400px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        font-size: 16px;
    }
    
    input[type=text],
    input[type=email],
    select,
    textarea {
        font-size: 12px;
        font-family: inherit;
        font-weight: 600;
    }
    
    input[type=submit] {
        font-size: 12px; 
    }
    
    
}


/* Small phones: from 0 to 480px */
/*
@media only screen and (max-width: 480px){
    section {
        padding: 25px 0;
    }
    
    .contact-form {
        width: 100%;
    }
    html, body {
        overflow-x: hidden; 
    }
    .tim-karakteristike {
        margin-top: 7px;
        margin-bottom: 20px;
    }
    
    .prikaz-djelatnosti {
        list-style: none;
        width: 90%;
        margin-left: 5%;
    }
    
    .prikaz-djelatnosti1 {
        list-style: none;
        width: 90%;
        margin-left: 27.5%;
    }
    
    .pravo-racunovodstvo {
        margin-bottom: 10px;
    }
    
    .programiranje-nekretnine{
        margin-bottom: 10px;
    }
    
    .h3-mystery {
        font-weight: 400;
        margin-left: 22.5%;
    }
    #pravo, 
    #programiranje, 
    #nekretnine {
        margin-bottom: 5px;
    }
    
    .usluge1 {
        height: 835px;
    }
    .usluge1.usluge1-mob {
        height: 900px;
    }
    .usluge2 {
        height: 250px;
    }
    .uslugNek{
        height: 300px;
    }
    .usluge3{
        height: 400px;
    }
    footer{font-size: 65%;}
}


*/