/* ----------------------------------------------------------------------------------------------------------*/
/* OSNOVNI SETUP */
/* ----------------------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #555;
    font-family: 'Nunito Sans', 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------ HEADINGS -------*/


h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 6px;
    letter-spacing: 2px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 450px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 125%;
    text-align: center;
}

.h3-small {
    margin-top: 15px;
    margin-bottom: 50px;
}

/* ------ PARAGRAFI -------*/

.recenica-dvije {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* ------ IKONICE -------*/

.icon-big {
    font-size: 550%;
    color: #e67e22;
    width: 100%;
    text-align: center;
}

.mobil-nav-icon {
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobil-nav-icon-close {
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobil-nav-icon .icon-menu{
    font-size: 200%;
    color: #fff;
    position: relative;
    transition: all .6s;
}

.mobil-nav-icon-close .icon-menu-close{
    font-size: 200%;
    color: #fff;
    position: relative;
}

.close {
    display: none;
}

/* ------ DUGMICI -------*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:active,
input[type=submit]:hover{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ----------------------------------------------------------------------------------------------------------*/
/* HEADER */
/* ----------------------------------------------------------------------------------------------------------*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(./img/bookcase-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/bookcase-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.logo {
    height: 250px;
    width: auto;
    float: left;
    margin-top: 0px;
    position: absolute;
}

.simpli-slogan {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 15%;
    z-index: 1;
}

/* Main Navi */

.main-nav ul{
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.main-nav ul {
    list-style: none;
}

.main-nav ul li {
    margin-left: 2%;
}

.main-nav ul li:last-child {
    margin-right: 3%;
}

.main-nav li a:link, 
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.6s;
    transition: border-bottom 0.6s;
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* Sticky Nav */

.sticky {
    position: fixed;
    top 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 1px #555;
    z-index: 9999;
}

.sticky .main-nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #555;
}

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited{
    color: #555;
    
}
.sticky:hover{
    background-color: rgba(0, 0, 0, 0.9);
    transition: .5s;
}
.sticky:hover .main-nav li a {
    color: #fff;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{
    color: #e67e22;
    transition: .6s;
}

.sticky .logo {
    display: none;
}

.sticky .logo-sticky {
    display: block;
    height: 75px;
    width: auto;
    float: left;
    margin-top: 0px;
    margin-left: 5%;
}

.sticky .main-nav {
    height: 75px;
}

/* ----------------------------------------------------------------------------------------------------------*/
/* KARAKTERISTIKE */
/* ----------------------------------------------------------------------------------------------------------*/

.karakteristike {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 10vh;
    margin-bottom: 150px;
}

.row-karakteristike {
    grid-row: 1/2;
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.row-objasnjenja {
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.objasnjenja {
    font-size: 110%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------------------------------------------------------------------------*/
/* DJELATNOSTI */
/* ----------------------------------------------------------------------------------------------------------*/

.djelatnosti {
    margin-top: 25vh;
    margin-bottom: 25vh;
}

.prikaz-djelatnosti {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.grupa1{
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}

.grupa2{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
}

.grupa1 .pravo, 
.grupa1 .racunovodstvo, 
.grupa1 .marketing, 
.grupa1 .nekretnine {
    display: inline-block;
    width: 20%;
}

.grupa2 .programiranje, 
.grupa2 .mysteryshopping {
    display: inline-block;
    width: 20%;
}

.usluge-foto {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    box-shadow: 0 30px 80px 10px rgba(0,0,0,.6);
}
.usluge-foto img{
    opacity: 0.7;
    margin: auto;
    width: 100%;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    transition: 0.5s;
    -webkit-transition: -webkit-transform 0.5s opacity 0.5s;
    transition: -webkit-transform 0.5s opacity 0.5s;
    transition: transform 0.5s opacity 0.5s;
    transition: transform 0.5s opacity 0.5s, -webkit-transform 0.5s opacity 0.5s;
}

.usluge-foto img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

figcaption{
    background-color: #000;
    color: #e67e22;
    padding: 3px;
    text-align: center;
    font-weight: 400;
    position: relative;
}


/* ----------------------------------------------------------------------------------------------------------*/
/* USLUGE */
/* ----------------------------------------------------------------------------------------------------------*/
.usluge {
    margin-bottom: 50px;
    cursor: default;
}



.pravo-racunovodstvo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.usluga-pravo-rac {
    background: linear-gradient(to bottom right, #333, #4d3e3e);
    padding-top: 15px;
    box-shadow: 0 8px 8px 5px rgba(0,0,0,.2);
    border-radius: 8px;
}


.programiranje-nekretnine-marketing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.usluga-prog-nek {
    background: linear-gradient(to bottom right, #4d3e3e, #673e3e);
    box-shadow: 0 8px 8px 5px rgba(0,0,0,.2);
    border-radius: 8px;
}



.h3-usluge {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

.usluge1 {
    list-style: circle;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.usluge1 li {
    padding-bottom: 5px;
}

.usluge2 {
    list-style: circle;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.usluge2 li {
    padding-bottom: 5px;
    
}

.mystery {
    color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.recenica-dvije {
    padding-top: 10px;
}

.usluga-mystery{
    background: linear-gradient(to bottom right, #673e3e, #813434);
    box-shadow: 0 8px 8px 5px rgba(0,0,0,.2);
    padding-top: 15px;
    border-radius: 8px;
}

.usluge3 {
    list-style: circle;
    width: 35%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}

.usluge4 {
    width: 50%;
    margin-left: 25%;
    padding-top: 30px;
    display: block;
}


/* ----------------------------------------------------------------------------------------------------------*/
/* PREDNOSTI */
/* ----------------------------------------------------------------------------------------------------------*/
.section-prednosti {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(248, 248, 248, 0.25);
}

.prednosti {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50vw 50vw;
}



.prednost-box:first-child {
    grid-column: 1/2;
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.prednost-box:last-child {
    grid-column: 2/3;
    padding-left: 3%;
    margin-top: 70px;
}

.img-prednost {
    width: 60%;
}

.sta-su-prednost {
    display: flex;
    margin-bottom: 100px;
    justify-content: flex-start;
    align-items:center; 
}

.sta-su-prednost div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    float: left;
    font-size: 150%;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------------------------------------------------------------------------------------------------*/
/* Kontakt forma */
/* ----------------------------------------------------------------------------------------------------------*/

.mapa-forma {
    margin-top: 75px;
    padding: 0;
}

.mapa-box {
    width: 100%;
    height: 70vh;
    position: relative;
}

.map {
    width:100%;
    height: 70vh;
    position: relative;
    z-index: 0;
    background-color: gray;
}

.form-box {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    height: 60vh;
    padding: 40px;
    border-bottom-left-radius: 20px;
    display: grid;
    grid-template-rows: 20% 80%;
}

.topic {
    grid-row: 1/2;
}

.contact-form {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inputs {
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    font-size: 22px;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 70%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
}


*:focus {outline: none;}

.name, 
.email, 
.mess {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=submit] {
    font-size: 20px; 
}

.form-messages {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    color: #333;
}

.success {
    background-color: rgba(0, 189, 86, 0.80);
    border: 2px solid rgba(0, 189, 86, 0.3);
}
.error {
    background-color: rgba(209, 46, 46, 0.80);
    border: 2px solid rgba(209, 46, 46, 0.30);
}


/* ----------------------------------------------------------------------------------------------------------*/
/* FOOTER*/
/* ----------------------------------------------------------------------------------------------------------*/

footer {
    background-color: rgb(51, 51, 51);
    font-size: 80%;
    height: 33.33vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90% 10%;
}

.info {
    margin-left: 40px;
    margin-top: 40px;
    grid-column: 1/2;
    grid-row: 1/2;
}


.naslovni {
    font-size: 110%;
}

.footer-nav {
    list-style: none;
    color: #888;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.social-links {
    list-style: none;
    font-size: 150%;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}

.social-links li a:hover {
    font-size:170%;
    border: 0;
    color: #888;
}

.footer-icons {
    color: #888;
    font-size: 80%;
    padding-right: 10px;
    margin-top: 900;
}

.face:hover {
    color: #3b5998;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.insta:hover {
    color: #c32aa3;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.linkedin:hover {
    color: #007bb5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.copyright{
    grid-row: 2/3;
    grid-column: 1/-1;
    width: 100%;
}

.copyright p {
    font-size: 90%;
    text-align: center;
    color: #fff;
}














